*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
header{
	text-align: center;
	font-family: Verdana;
	font-size: 50px;
	color: blue;
}
.row{
	width: 100%;
}
section{
	font-size: 30px;
	font-family: Verdana, sans;
	position: relative;
}
article{
	font-family: Helvetica , sans;
	position: relative;
}	
@media(min-width: 992px){
	.col-lg-04{
		width: 30%;
		height: auto;
		float: left;
		margin: 21px;
		border: 1px solid blue;
		border-radius: 5px;
		background-color: #ffa0ee;
		position: relative;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-06{
		width: 50%;
		border: 1px solid black;
		background-color: #cc00ff;
		border-radius: 5px;
		position: relative;
	}
	.col-md-01{
		width: 100%;
		border: 1px solid black;
		background-color: #cc00ff;
		border-radius: 5px;
		position: relative;
	}

}
@media(max-width: 767px){
	.col-sm-01{
		width: 100%;
		border: 1px solid black;
	    background-color: #cc00ff;
	    border-radius: 5px;
	    position: relative;
	}
}